        body {
                    
                    background-color: #588d9c;
                }
                .form-container {
            max-width: 600px;
            margin-top: 50px;
            margin: 30px auto; 
            padding: 20px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }

        .form-container h2 {
            text-align: center;
            color: #4CAF50;
        }
        .form-group {
            margin-bottom: 20px;
        }
        label {
            display: block;
            margin-bottom: 5px;
            color: #333;
        }
        input, select, button {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            box-sizing: 300px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        input:focus, select:focus {
            border-color: #4CAF50;
            outline: none;
        }
        button {
            background-color: #4CAF50;
            color: #fff;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        button:hover {
            background-color: #45a049;
        }
        .otp-button {
            width: auto;
            height: 60px;
            display: inline-block;
            margin-left: 10px;
            padding: 10px 20px;
        }
        .otp-group {
            display: flex;
            align-items: center;
        }
        .price-button {
            background-color: #ddd;
            color: #333;
            cursor: not-allowed;
        }